@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;500&display=swap');

:root {
  --primary: #7126b5;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Overriding styles */
::-webkit-input-placeholder {
  font-size: 14px !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px !important;
}

input,
button {
  height: 48px;
}

.rounded-16px {
  border-radius: 16px !important;
}

.label-14px {
  font-size: 14px;
}

.btn-purple {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.a-ungu {
  color: var(--primary);
  font-weight: 700;
  text-decoration: none;
}

.form-user {
  position: absolute;
  width: 452px;
  height: 348px;
  left: 900px;
  top: 301px;
}

.font-custom {
  font-weight: 700;
  font-size: 24px;
}

.navbar.navbar-8 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}

.custom-logo-navbar {
  width: 100px;
  height: 34px;
  background-color: var(--primary);
}

.custom-bg-photo-profile {
  background-color: #E2D4F0;
  width: 96px;
  height: 96px;
  border-radius: 12px;
}

.custom-border-auth {
  border-radius: 16px;
}

.custom-button-auth {
  background-color: var(--primary);
}

.custom-font-auth {
  color: var(--primary);
}

.custom-font-1 {
  font-size: 14px;
}

.custom-font-2 {
  font-size: 12px;
}

.custom-font-3 {
  font-size: 25px;
}

.custom-font-4 {
  font-size: 35px;
  color: var(--primary);
}