@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;500&display=swap');

:root {
  --primary: #7126b5;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

/* Overriding styles */
::-webkit-input-placeholder {
  font-size: 14px !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px !important;
}

input,
button,
select {
  height: 48px;
}

.rounded-16px {
  border-radius: 16px !important;
}

.label-14px {
  font-size: 14px;
}

.btn-purple {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.btn-edit {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  border-color: var(--primary) !important;
  font-weight: 500 !important;
}

.a-ungu {
  color: var(--primary);
  font-weight: 700;
  text-decoration: none;
}

.font-custom {
  font-weight: 700;
  font-size: 24px;
}

.navbar.navbar-8 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}

.custom-logo-navbar {
  width: 100px;
  height: 34px;
  background-color: var(--primary);
}

.custom-bg-photo-profile {
  background-color: #e2d4f0;
  width: 96px;
  height: 96px;
  border-radius: 12px;
}

.custom-border-auth {
  border-radius: 16px;
  border-color: var(--primary);
}

.custom-button-auth {
  background-color: var(--primary);
}

.custom-font-auth {
  color: var(--primary);
}

.custom-font-1 {
  font-size: 14px;
}

.custom-font-2 {
  font-size: 12px;
}

.custom-font-3 {
  font-size: 25px;
}

.custom-font-4 {
  font-size: 35px;
  color: var(--primary);
}

.side-picture {
  background-image: url(./components/assets/svg/side-picture.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 720px;
  height: 950px;
}

.margin-right-custom {
  margin-right: 30vw !important;
}

.alamat {
  height: 80px;
}

.wrapper {
  position: relative;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 87%;
  transform: translateY(-50%);
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  border-radius: 16px !important;
  width: 376px;
  height: 200px;
}

.modal-content {
  border-radius: 16px !important;
}

.modal-header {
  border-bottom: none !important;
}

.label-10px {
  font-size: 10px;
}

.text-decoration-none {
  text-decoration: none;
}

.card-custom {
  width: 568px;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  html {
    height: 100%;
    margin-top: auto !important;
  }
  .side-picture {
    display: none !important;
  }
  .margin-custom {
    margin-top: 40vh !important;
  }
}

/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 768px) {
  .side-picture {
    display: none !important;
  }
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1920px) {
  html {
    height: 100%;
    font-size: 22px;
  }
  .font-custom {
    font-weight: 700;
    font-size: 34px;
  }
  .side-picture {
    background-image: url(./components/assets/svg/side-picture.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 820px;
    height: 1080px;
  }

  /* Overriding styles */
  ::-webkit-input-placeholder {
    font-size: 18px !important;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 18px !important;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px !important;
  }

  .rounded-16px {
    border-radius: 20px !important;
  }

  .label-14px {
    font-size: 18px;
  }

  input,
  button {
    height: 52px;
  }
}
