@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;500&display=swap');

:root {
  --primary: #7126b5;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Overriding styles */
::-webkit-input-placeholder {
  font-size: 14px !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px !important;
}

input,
button {
  height: 48px;
}

.rounded-16px {
  border-radius: 16px !important;
}

.label-14px {
  font-size: 14px;
}

.btn-purple {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.a-ungu {
  color: var(--primary);
  font-weight: 700;
  text-decoration: none;
}

.form-user {
  position: absolute;
  width: 452px;
  height: 348px;
  left: 900px;
  top: 301px;
}

.font-custom {
  font-weight: 700;
  font-size: 24px;
}
