@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;500&display=swap');

:root {
  --primary: #7126b5;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  overflow-x: hidden;
}

/* Overriding styles */
::-webkit-input-placeholder {
  font-size: 14px !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px !important;
}

input,
button,
select {
  height: 48px;
}

.rounded-16px {
  border-radius: 16px !important;
}

.label-14px {
  font-size: 14px;
}

.btn-purple {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.btn-purple-jual {
  width: 115px;
  height: 52px;
  font-size: 15px;
  gap: 16px;
  margin-left: 700px;
  margin-top: 850px;
  background: #7126b5 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  border-radius: 12px !important;
}

.position-jual {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  margin-bottom: 20px;
  width: fit-content;
}

.btn-edit {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  border-color: var(--primary) !important;
  font-weight: 500 !important;
}

.a-ungu {
  color: var(--primary);
  font-weight: 700;
  text-decoration: none;
}

.font-custom {
  font-weight: 700;
  font-size: 24px;
}

.navbar.navbar-8 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}

.custom-logo-navbar {
  width: 125px;
  height: 34px;
}

.custom-bg-photo-profile {
  background-color: #e2d4f0;
  width: 96px;
  height: 96px;
  border-radius: 12px;
}

.custom-border-auth {
  border-radius: 16px;
  border-color: var(--primary);
}

.custom-button-auth {
  background-color: var(--primary);
}

hr.custom-font-auth {
  border: 0.5px solid var(--primary);
  margin: 0.3rem;
}
.sidebar-custom {
  box-shadow: inset 0 0 0 0 var(--primary);
  border-radius: 4px;
  color: var(--primary);
  margin: 0 -0.2rem;
  padding: 0.7rem 0.2rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
}

.active {
  background-color: var(--primary);
  color: #fff;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-custom:hover {
  box-shadow: inset 300px 0 0 0 var(--primary);
  border-radius: 4px;
  color: white;
}

.custom-font-1 {
  font-size: 14px;
}

.custom-font-2 {
  font-size: 12px;
}

.custom-font-3 {
  font-size: 25px;
}

.custom-font-4 {
  font-size: 35px;
  color: var(--primary);
}

.side-picture {
  background-image: url(./components/assets/svg/side-picture.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 720px;
  height: 950px;
}

.margin-right-custom {
  margin-right: 30vw !important;
}

.alamat {
  height: 80px;
}

.wrapper {
  position: relative;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 87%;
  transform: translateY(-50%);
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  border-radius: 16px !important;
  width: 376px;
  /* height: 200px; */
}

.modal-content {
  border-radius: 16px !important;
}

.modal-header {
  border-bottom: none !important;
}

.label-10px {
  font-size: 10px;
}

.text-decoration-none {
  text-decoration: none;
}

.card-custom {
  width: 568px;
}

.center-custom {
  display: flex;
  justify-content: center;
  margin-right: 22%;
  margin-left: 10%;
}

.center-custom-h6 {
  margin-left: 21%;
}

.custom-width-search {
  width: 444px !important;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next {
  content: url(./components/assets/svg/btn-next-carousel.svg) !important;
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-prev {
  content: url(./components/assets/svg/btn-prev-carousel.svg) !important;
  width: 30px !important;
  height: 30px !important;
}

.swiper-slide-shadow-left {
  background: #b6d4a8 !important;
  border-radius: 20px;
}
.swiper-slide-shadow-right {
  background: #e2d4f0 !important;
  border-radius: 20px;
}

.card-daftar-jual {
  width: 206.67px;
  height: 198px;
}

.btn-purple-kategori {
  background-color: #e2d4f0 !important;
}
.btn-light.btn-purple-kategori:hover {
  background-color: #7126b5 !important;
  color: #fff;
}

.bg-home {
  display: none;
}

.gift {
  display: none;
}

.margin-top-home {
  margin-top: 30px;
}

.btn-login {
  width: 105px;
  height: 48px;
  font-size: 15px;
  text-decoration: none;
}

.icon-add-product-daftarjual {
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-home-product {
  text-decoration: none !important;
}

.card-product:hover {
  box-shadow: 5px 8px #e2d4f0;
}

.edit-daftar-jual {
  width: 50px !important;
  height: 35px !important;
  border: 1px solid #7126b5 !important;
  border-radius: 8px !important;
}
.edit-daftar-jual:hover {
  background-color: #7126b5;
  color: whitesmoke !important;
}

.btn-tambah-kategori {
  width: 150px !important;
  height: 35px !important;
  border: 1px solid #7126b5 !important;
  border-radius: 8px !important;
}
.btn-tambah-kategori:hover {
  background-color: #7126b5;
  color: whitesmoke !important;
}

#file[type='file'] {
  display: none;
  cursor: pointer;
}

#profile-picture[type='file'] {
  display: none;
  cursor: pointer;
}

.list-active {
  color: black !important;
  background: orange !important;
}

img.img-mini-preview {
  border-radius: 5px;
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.font-normal {
  font-size: 14px;
}

.btn-pink {
  margin-top: 5px;
  background-color: #ff7979;
  border-radius: 10px;
  color: white;
  border: 0px;
}

.btn-pink:hover {
  background-color: #eb4d4b;
}

img.card-home {
  max-width: 173px;
  max-height: 100px;
  object-fit: contain;
  border-radius: 5px;
}

img.profile-photo {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
  border-radius: 5px;
}

p.error-message {
  color: red;
}

.alert-custom {
  width: 500px;
  height: 52px;

  /* Allert/Success */
  background: #73ca5c;
  /* Shadow/High */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

p.p-alert {
  color: #fff;
  margin-bottom: 0px !important;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  html {
    height: 100%;
    margin-top: auto !important;
  }
  .side-picture {
    display: none !important;
  }
  .margin-custom {
    margin-top: 35vh !important;
  }
  .arrow-left {
    display: none !important;
  }
  .center-custom {
    display: flex;
    justify-content: center;
    margin-right: 0%;
    margin-left: 0%;
  }
  .center-custom-h6 {
    margin-left: 0%;
  }
  .custom-width-search {
    margin-top: 10px !important;
    width: 390px !important;
  }
  .kotak-home {
    display: none;
  }
  .bg-home {
    display: block;
  }
  .margin-top-home {
    margin-top: 0px;
  }
  .gift {
    display: block;
    z-index: 1;
    position: absolute;
    width: 127px;
    height: 123px;
    left: 109px;
    top: 200px;
  }
  .horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
  }
  .scroll {
    display: inline-block;
    float: none;
  }
  .icon-add-product-daftarjual {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 768px) {
  .side-picture {
    display: none !important;
  }
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1920px) {
  html {
    height: 100%;
    font-size: 22px;
  }
  .font-custom {
    font-weight: 700;
    font-size: 34px;
  }
  .side-picture {
    background-image: url(./components/assets/svg/side-picture.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 820px;
    height: 1080px;
  }

  /* Overriding styles */
  ::-webkit-input-placeholder {
    font-size: 18px !important;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 18px !important;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px !important;
  }

  .rounded-16px {
    border-radius: 20px !important;
  }

  .label-14px {
    font-size: 18px;
  }

  input,
  button {
    height: 52px;
  }
}
